html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --violet-color: #5844e4;
  --dark-violet-color: #41349e;
  --gray-color: #b9bdc9;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
}

button,
textarea,
select,
input {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
}

textarea {
  resize: none;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-block;
  background-color: var(--violet-color);
  height: 5rem;
  width: 30rem;
  border-radius: 12px;
  border: none;
  color: white;
  cursor: pointer;
}
.button:hover {
  background-color: var(--dark-violet-color);
  color: var(--white-color);
}
.button[disabled] {
  background-color: var(--gray-color);
  color: var(--white-color);
}

.toogle-styled {
  margin: 2rem;
}
.toogle-styled input {
  display: none;
}
.toogle-styled .toogle {
  height: 5rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5rem;
  background-color: white;
  border: 2px solid var(--gray-color);
  cursor: pointer;
  transition: background-color 0.8s ease;
}
.toogle-styled .toogle .spin {
  margin: 0.5rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background-color: white;
  border: 2px solid var(--gray-color);
  transition: transform 0.8s ease;
}
.toogle-styled input:checked ~ label {
  background-color: var(--violet-color);
  border: none;
}
.toogle-styled input:checked ~ label .spin {
  border: none;
  transform: translateX(5rem);
}

.checkboxs-wrapper {
  display: flex;
  margin: 2rem 0;
}
.checkboxs-wrapper .checkbox-styled {
  margin-right: 1rem;
}
.checkboxs-wrapper .checkbox-styled input {
  display: none;
}
.checkboxs-wrapper .checkbox-styled .checkbox {
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white-color);
  border: 2px solid var(--gray-color);
  cursor: pointer;
  transition: all 0.8s ease;
  padding: 0.5rem;
  border-radius: 5px;
}
.checkboxs-wrapper .checkbox-styled .checkbox .checkmark {
  height: 1rem;
  width: 2rem;
  border-bottom: 3px solid var(--white-color);
  border-left: 3px solid var(--white-color);
  border-radius: 1px 1px 1px 1px;
  transition: all 0.8s ease;
  transform: translateY(-2px) rotate(-45deg);
  display: none;
}
.checkboxs-wrapper .checkbox-styled input:checked ~ label {
  background-color: var(--violet-color);
  border: none;
}
.checkboxs-wrapper .checkbox-styled input:checked ~ label .checkmark {
  display: unset;
}

.radios-wrapper {
  display: flex;
  margin: 2rem 0;
}
.radios-wrapper .radio-styled {
  margin-right: 1rem;
}
.radios-wrapper .radio-styled input {
  display: none;
}
.radios-wrapper .radio-styled .radio {
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem;
  background-color: var(--white-color);
  border: 2px solid var(--gray-color);
  cursor: pointer;
  transition: all 0.8s ease;
  border-radius: 50%;
}
.radios-wrapper .radio-styled .radio .point {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: all 0.8s ease;
  display: none;
}
.radios-wrapper .radio-styled input:checked ~ label {
  background-color: var(--violet-color);
  border: none;
}
.radios-wrapper .radio-styled input:checked ~ label .point {
  display: unset;
}

.input-styled {
  margin: 2rem;
  border-radius: 10px;
  border: 2px solid var(--gray-color);
  height: 4rem;
  width: 45rem;
  font-size: 1.4rem;
  padding: 3rem;
  transition: 0.8s ease;
}
.input-styled::-webkit-input-placeholder {
  color: var(--gray-color);
}
.input-styled:focus {
  border-color: var(--violet-color);
  box-shadow: 0 0 0 3px #e7e9f8;
}

.textarea-styled {
  margin: 2rem;
  border-radius: 10px;
  border: 2px solid var(--gray-color);
  height: 10rem;
  width: 45rem;
  font-size: 1.4rem;
  padding: 2rem;
  transition: 0.8s ease;
}
.textarea-styled::-webkit-input-placeholder {
  color: var(--gray-color);
}
.textarea-styled:focus {
  border-color: var(--violet-color);
  box-shadow: 0 0 0 3px #e7e9f8;
}

/*# sourceMappingURL=styled.css.map */
